 $font-size: 13px;
 $font-size--h1: 54px;
 $font-size--h2: 24px;
 $font-size--h3: 20px;
 $font-size--h4: 16px;
 $font-family: "Ubuntu",
 Arial,
 "Helvetica Neue",
 Helvetica,
 sans-serif;
 $line-height: 20px;
 $white: #ffffff;
 $black: #000000;
 $yellow: #f4b60d;
 $blue: #248cec;
 $dark-grey: #181a1d;
 $grey: #2a2d32;
 $light-grey: #35383c;
 $lightnes-grey: #cccccc;
 $text-color: #8a8a8a;
 $link-color: #2a2b2e;
 $text-color-heading: #2a2d32;
